<web-app>

    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>org.myproject.servlet.SearchServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

</web-app>